[Desktop Entry]
Type=Application
Name=iwctl
Exec=xfce4-terminal -x iwctl
Icon=notification-wifi-enabled
Comment=
Path=
Terminal=false
StartupNotify=false
